.home-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/home-logo.png');
  height: 600px;
  width: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  padding: 1rem;
}

.home-info img {
  width: 300px;
  max-width: 100%;
}

.home-info p {
  margin-block: 2rem;
  text-shadow: #000 1px 0 10px;
}

@media screen and (min-width: 768px) {
  .home-img {
    height: 850px;
    width: 700px;
  }

  .home-info img {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .home-img {
    height: 1000px;
    width: 700px;
  }

  .home-info img {
    width: 500px;
  }
}
