.home-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/home-logo.png');
  height: 600px;
  width: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  padding: 1rem;
}

.home-info img {
  width: 300px;
  max-width: 100%;
}

.hungry-animals {
  width: calc(100% - 10px); 
  margin: 20px auto; 
  margin-top: 250px;
  padding: 15px;
  border-radius: 8px;
  background-color: #323232; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hungry-animals h2 {
  font-size: 24px;
  color: #e2c5be;
  margin-bottom: 10px;
}

.hungry-animals ul {
  list-style-type: none; 
  padding: 0;
}

.hungry-animals li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  background-color: #e2c5be;
  color: #3d3939; 
  transition: background-color 0.3s; 
}

.hungry-animals p {
  color: #7f8c8d;
}

@media screen and (min-width: 768px) {
  .home-img {
    height: 850px;
    width: 700px;
  }

  .home-info img {
    width: 500px;
  }

  .hungry-animals {
    width: 90%; 
    margin-top: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .home-img {
    height: 1000px;
    width: 700px;
  }

  .home-info img {
    width: 500px;
  }

  .hungry-animals {
    width: 80%;
    margin-top: 390px; 
  }
}
